/* ---------------------------------------

columns

------------------------------ */


.col {
	float: left;
	transition: all .2s ease-in-out;
}

.col--one {
	width: 24%;
}

.col--details {
	width: 19%;
	&:hover {
  -ms-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  .sub-header {
  	background: #214047!important;
  }
	.sub-header-price {
		background: #00948e;
		h4 {
			color:#FFF;
		}
	}
	.table-footer--cta {
		background: #214047!important;
	}

	}
}

/* ---------------------------------------

table

------------------------------ */

.table .header {
	height: 150px;
	font-size: 18px;

	h2 {
		text-align: center;
		padding: 30px;
		color: #01948e;	
		text-transform: uppercase;
		line-height: 1.3;
	}

}
.sub-header {
	height: 75px!important;
	background: #00948e;
	color:#FFF;
	text-align: center;
	padding: 10px;
	position: relative;
	transition: all .2s ease-in-out;

	&:after {
	content: '';
  position: absolute;
  bottom: 0;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;	
	border-top: 7px solid #00948e;
  top: 75px;
  z-index: 4;
  display: block;
	}
	p {
		padding: 0!important;
		font-size: 12px;
		margin-top: 5px;
	}
}
.sub-header-price {
	height: 75px!important;

	h4 {
		text-align: center;
		font-weight: bold;
		font-size: 26px;
		padding: 10px 0 10px 70px;
		text-align: left;
		display: block;
		position: relative;
		color:#7c7c7c;

		&.free-heading {
			padding: 20px!important;
			text-align: center;
			&:before{
				display: none;
			}
		}
		.monthly {
			font-weight: normal;
			padding-left: 5px;
		}
		span {
			font-size: 14px;
			position: relative;
			bottom: 5px;
			right: 5px;
		}
		&:before {
			content: '£';
			position: relative;
			right: 10px;
			font-size: 13px;
			font-weight: normal;
			bottom:8px;


		}

	}
}

.table {
	height: 638px;
	background: #FFF;
	color: #000000;
	font-family: 'dosisregular', Helvetica, Arial;
}

.table-header {
}

.table-footer {
	height: 38px;
}

.table-footer--cta {
	text-align: center;
	background: #00958e;
	color:#FFF;
	line-height: 38px;
}

.table-header--color {
	color: #ffffff;
}
.col--one .table-list {
		background: #f1f0f0;
}

.table-list {
	list-style: none;
	font-size: 11px;
	padding-top: 20px;


	li {
		line-height: 30px;
		height: 30px;
		border-bottom: 1px solid #e1e1e1;
	}
	li:before {
		content: "■";
	  color: #00958e;
	  padding: 0 10px;
	}
	li:last-child {
		border-bottom: 1px solid #192e2c;
	}

}
.table-list--no-bullet {
		li:before {
		display: none;

	}	
	li {
		span {
		text-indent: -99999px;
	  overflow: hidden;
	  text-align: center;
	  display: block;
	  white-space: nowrap;
		}
	}
}

// icons

.icon {
	position: relative;

	&:before {
	content: '';
  width: 20px;
  height: 20px;
  margin: 5px auto;
  position: relative;
  display: block;
	}

}

.icon__available {
	&:before {
	background: url(../img/ic-available.png) no-repeat;
	background-size: 20px 20px;
	}
}
.icon__unavailable {
	&:before {
	background: url(../img/ic-unavailable.png) no-repeat;
	background-size: 20px 20px;	

	}
}